In [1]:
# This script runs a time series data analysis tool for tida gauge data

#Import packages
import numpy as np
import pandas as pd

# Initialize arrays
# Might not need in python

#waterlevel = np.array((8400,1))
#anchors = np.array((2000, 2))
#mastersetA = np.array((2000,10))
#mastersetAerror = np.array((2000,1))
#mastersetAnegerror = np.zeros((2000, 1))
#masterkeyA = np.zeros((1,10))
#residualtrend1 = np.zeros((2000,2))
#residualtrend2 = np.zeros((2000,3))
#residualtrendR2 = np.zeros((2000,3))
#setwidth = np.zeros((2000,1))

In [2]:
# Import data from csv file

waterlevel = pd.read_csv("/Users/karladimitri/Desktop/CO-OPS__8594900__hr.csv")
display(waterlevel.head())

#april 16/22-march31/23

          Date Time   Water Level   Sigma   I   L
0  2022-04-16 00:00         1.957   0.013   0    0
1  2022-04-16 01:00         2.095   0.007   0    0
2  2022-04-16 02:00         1.790   0.010   0    0
3  2022-04-16 03:00         1.173   0.030   0    0
4  2022-04-16 04:00         0.576   0.013   0    0

In [3]:
waterlevel.columns

Index(['Date Time', ' Water Level', ' Sigma', ' I', ' L '], dtype='object')

In [4]:
# Extract minimums and maximums

def minmax(data):
    i_anchors = []
    val_anchors = []
    for i in range(2, len(data)): # if statement started at 3, so included that start up here instead
        # needs a continuity check
        # needs a normalization because observation will likely miss actual min/max
        if (data[i] - data[i-1]) > 0:
            if (data[i-1] - data[i-2]) < 0:
                # minimum located
                i_anchors.append(i-1)
                val_anchors.append(1)
            elif (data[i-1] - data[i-2]) == 0:
                # zero slope located
                if (i >= 3) and (data[i-2] - data[i-3]) < 0:
                    #minimum located
                    i_anchors.append(i-1)
                    val_anchors.append(1)
            else:
                continue
        elif (data[i] - data[i-1]) < 0:
            if (data[i-1] - data[i-2]) > 0:
                # maximum located
                i_anchors.append(i-1)
                val_anchors.append(2)
            elif data[i-1] - data[i-2] == 0:
                # zero slope located
                if i >= 4 and (data[i-2] - data[i-3]) > 0:
                    #maximum located
                    i_anchors.append(i-2)
                    val_anchors.append(2)
            else: continue
        else: continue
    
    anchors = pd.DataFrame({'index':i_anchors, 'value':val_anchors})
    return anchors

In [5]:
anchors_test = minmax(waterlevel[' Water Level'])
display(anchors_test.head())

   index  value
0      1      2
1      7      1
2     12      2
3     19      1
4     25      2

anchor point analysis

array with all the values from low tide, look at how it changes over time and start trend analysis on the water level.

In [39]:
# min to max master keys identification

# Gather min to max master set

def setwidth(data_value, data_index):
    setwidth = []
    for i in range(len(data_value)):
        if data_value[i] == 1:
            val = (data_index[i+1]) - (data_index[i]) + 1
            setwidth.append(val)
    
    return setwidth

width_test = setwidth(data_index=anchors_test['index'], data_value=anchors_test['value'])
display(width_test)

[6,
 7,
 6,
 6,
 7,
 6,
 7,
 6,
 7,
 7,
 7,
 6,
 6,
 6,
 7,
 6,
 7,
 6,
 7,
 6,
 6,
 6,
 7,
 6,
 5,
 7,
 6,
 7,
 6,
 6,
 6,
 7,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 6,
 8,
 7,
 6,
 6,
 6,
 5,
 6,
 5,
 5,
 6,
 5,
 6,
 6,
 6,
 6,
 7,
 6,
 7,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 6,
 7,
 6,
 6,
 6,
 7,
 6,
 7,
 6,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 6,
 7,
 7,
 6,
 7,
 6,
 7,
 6,
 6,
 7,
 7,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 6,
 7,
 6,
 7,
 6,
 6,
 7,
 6,
 7,
 6,
 7,
 6,
 6,
 6,
 6,
 7,
 7,
 6,
 7,
 6,
 7,
 6,
 6,
 6,
 7,
 6,
 7,
 6,
 6,
 7,
 7,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 6,
 7,
 6,
 6,
 7,
 7,
 6,
 6,
 7,
 7,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 6,
 6,
 7,
 6,
 7,
 6,
 6,
 6,
 7,
 7,
 6,
 7,
 6,
 7,
 6,
 7,
 6,
 6,
 5,
 6,
 6,
 7,
 7,
 7,
 6,
 7,
 7,
 6,
 7,
 7,
 7,
 7,
 7,
 6,
 6,
 7,
 6,
 6,
 7,
 6,
 7,
 7,
 7,
 6,
 7,
 6,
 7,
 6,
 7,
 6,
 6,
 6,
 7,
 6,
 7,
 6,
 7,
 6,
 6,
 7,
 6,
 7,
 7,
 6,
 7,
 6,
 6,
 6,
 7,
 7,
 6,
 7,
 6,
 7,
 6,
 7,
 6,
 7,
 7,
 6,
 7,
 7,
 6,
 7,
 7,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 7,
 6,
 7,
 6,
 7,
 6,
 7,
 6,
 7,
 6,
 7,
 7,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 7,
 6,
 7,
 6,
 6,
 6,
 6,
 7,
 7,
 6,
 8,
 6,
 8,
 7,
 7,
 6,
 5,
 7,
 7,
 7,
 7,
 6,
 7,
 7,
 6,
 6,
 6,
 7,
 6,
 7,
 7,
 7,
 7,
 7,
 6,
 6,
 6,
 7,
 6,
 7,
 6,
 7,
 6,
 7,
 6,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 7,
 7,
 7,
 6,
 6,
 7,
 7,
 6,
 7,
 6,
 7,
 7,
 6,
 6,
 7,
 7,
 6,
 7,
 7,
 6,
 7,
 7,
 6,
 7,
 7,
 6,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 7,
 6,
 7,
 6,
 7,
 7,
 7,
 7,
 6,
 6,
 7,
 7,
 6,
 7,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 6,
 6,
 6,
 7,
 7,
 5,
 7,
 5,
 7,
 7,
 7,
 7,
 6,
 6,
 8,
 5,
 7,
 7,
 6,
 6,
 6,
 6,
 7,
 6,
 6,
 7,
 6,
 7,
 6,
 6,
 6,
 7,
 6,
 7,
 7,
 6,
 6,
 7,
 7,
 7,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 6,
 7,
 6,
 6,
 6,
 6,
 7,
 7,
 6,
 6,
 7,
 7,
 6,
 7,
 6,
 7,
 7,
 6,
 7,
 7,
 6,
 7,
 6,
 6,
 5,
 6,
 7,
 6,
 7,
 6,
 7,
 6,
 7,
 5,
 5,
 6,
 6,
 5,
 6,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 6,
 7,
 6,
 7,
 7,
 7,
 6,
 7,
 6,
 7,
 6,
 7,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 8,
 7,
 7,
 6,
 6,
 7,
 6,
 7,
 6,
 7,
 6,
 7,
 6,
 7,
 6,
 5,
 6,
 7,
 6,
 6,
 7,
 5,
 7,
 6,
 6,
 7,
 7,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 6,
 8,
 7,
 7,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 6,
 7,
 7,
 6,
 6,
 6,
 6,
 5,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 6,
 7,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 6,
 6,
 6,
 6,
 5,
 7,
 6,
 6,
 6,
 6,
 4,
 6,
 8,
 6,
 7,
 7,
 6,
 5,
 7,
 8,
 6,
 6,
 6,
 6,
 5,
 7,
 8,
 7,
 7,
 7,
 5,
 6,
 7,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 7,
 6,
 7,
 6,
 6,
 5,
 6,
 7,
 7]

In [44]:
print(type(width_test[8]))

<class 'numpy.int64'>

In [42]:
print(width_test.count(6))
print(width_test.count(5))
print(width_test.count(7))

379
24
263

In [49]:
def masterset(data_index, data_value, waterlevel):
    mastersetA = []
    setwidth = []
    for i in range(len(data_value)):
        if data_value[i] == 1:
            val = (data_index[i+1]) - (data_index[i]) + 1
            #setwidth.append(i, val)
            if val == 6:
                array = []
                for m in range(1, 7):
                    value = data_index[i]
                    w_value = waterlevel[' Water Level'][value+m-1] - waterlevel[' Water Level'][value]
                    array.append(w_value)
                mastersetA.append(array)

    df = pd.DataFrame(mastersetA)
    return df

masterset_test = masterset(data_index=anchors_test['index'], data_value=anchors_test['value'], waterlevel=waterlevel)

display(masterset_test)

       0      1      2      3      4      5
0    0.0  0.259  1.112  2.116  2.792  3.101
1    0.0  0.197  1.241  2.366  3.199  3.501
2    0.0  0.210  1.149  2.071  2.717  2.996
3    0.0  0.371  1.208  2.152  2.884  3.222
4    0.0  0.256  1.217  1.969  2.362  2.366
..   ...    ...    ...    ...    ...    ...
374  0.0  0.440  1.398  2.231  2.730  2.858
375  0.0  0.220  0.896  1.516  1.828  1.844
376  0.0  0.072  0.587  1.371  1.978  2.286
377  0.0  0.433  1.233  1.880  2.345  2.513
378  0.0  0.151  0.843  1.539  1.972  2.231

[379 rows x 6 columns]

In [52]:
display(masterset_test[1]/3)

0      0.086333
1      0.065667
2      0.070000
3      0.123667
4      0.085333
         ...
374    0.146667
375    0.073333
376    0.024000
377    0.144333
378    0.050333
Name: 1, Length: 379, dtype: float64

In [55]:
def avg(df):
    arr = []
    for i in range(len(df.columns)):
        val = df[i].sum()
        arr.append(val)
    for j in range(len(arr)):
        arr[j] = float(arr[j])/len(df)
    return arr

masterkey_test = avg(masterset_test)
display(masterkey_test)

[0.0,
 0.33453298153034305,
 1.150358839050132,
 1.9521583113456462,
 2.486725593667546,
 2.7007678100263854]

In [57]:
# Calculate masterset error

def master_error(df, key):
    df_array = []
    for i in range(len(df)):
        # cycle through each set in the masterset
        arr = []
        for m in range(len(df.columns)):
            val = df[m][i] - key[m]
            arr.append(val)
        df_array.append(arr)
    
    df_array = pd.DataFrame(df_array)
    return df_array

mastererror_test = master_error(masterset_test, masterkey_test)
display(mastererror_test)

       0         1         2         3         4         5
0    0.0 -0.075533 -0.038359  0.163842  0.305274  0.400232
1    0.0 -0.137533  0.090641  0.413842  0.712274  0.800232
2    0.0 -0.124533 -0.001359  0.118842  0.230274  0.295232
3    0.0  0.036467  0.057641  0.199842  0.397274  0.521232
4    0.0 -0.078533  0.066641  0.016842 -0.124726 -0.334768
..   ...       ...       ...       ...       ...       ...
374  0.0  0.105467  0.247641  0.278842  0.243274  0.157232
375  0.0 -0.114533 -0.254359 -0.436158 -0.658726 -0.856768
376  0.0 -0.262533 -0.563359 -0.581158 -0.508726 -0.414768
377  0.0  0.098467  0.082641 -0.072158 -0.141726 -0.187768
378  0.0 -0.183533 -0.307359 -0.413158 -0.514726 -0.469768

[379 rows x 6 columns]

In [62]:
#Check for masterkey match
masterkey_array = np.array(masterkey_test)
sstot = sum((masterkey_array-masterkey_array.mean())**2)
ssres = sum((masterkey_array-mas))

6.326985589109888